.grid {
  max-width: 600px;
  font-size: 3rem;
}

.column {
  position: relative;
  float: left;
  width: 33.33%;
  height: 0;
  padding-bottom: 33.33%;
  outline: 1px solid;
}

.column-inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

[class^="vws-buffer"] {
  clear: left;
}